<head>
    <title>Haoxin's HW8</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>

<div class="bg-dark pb-3 container">
  <h2 class="text-center py-4"><span class="text-white">Product Search</span></h2>
  <form action="">
    <div class="form-group row text-white">
      <label class="col-sm-2 offset-sm-2 my-auto px-0">Keyword
        <span class="text-danger">*</span>
      </label>
      <div class="col-sm-5 px-0">
        <input id="keyword" class="form-control" type="text" name="keyword" placeholder="Enter Product Name (eg. iPhone 8)" [(ngModel)]="info.keyword" required (focusout)="keyword_change = true" #keyword_div>
        <p class="errorMessage" *ngIf="keyword_change && info.keyword.length == 0">Please enter a keyword.</p>
      </div>
    </div>
    <div class="form-group row text-white">
      <label class="col-sm-2 offset-sm-2 my-auto px-0">Category
      </label>
      <div class="col-sm-3 px-0">
        <select class="col-sm-8 form-control" name="category" [(ngModel)]="info.category">
          <option [value]="item" *ngFor="let item of info.category_list">{{item}}</option>
        </select>
      </div>
    </div>
    <div class="form-group row text-white">
      <label class="col-sm-2 offset-sm-2 my-auto px-0">Condition
      </label>
      <div class="col-sm-6 px-0">
        <span class="pr-1">
          <input type="checkbox" name="cond1" [(ngModel)]="info.conditions[0]"><span class="px-1">New</span>
        </span>
        <span class="pr-1">
          <input type="checkbox" name="cond2" [(ngModel)]="info.conditions[1]"><span class="px-1">Used</span>
        </span>
        <span class="pr-1">
          <input class="px-2" type="checkbox" name="cond3" [(ngModel)]="info.conditions[2]"><span class="px-1">Unspecified</span>
        </span>
      </div>
    </div>
    <div class="form-group row text-white">
      <label class="col-sm-2 offset-sm-2 my-auto px-0">Shipping Options
      </label>
      <div class="col-sm-6 px-0">
        <span class="pr-2">
          <input type="checkbox" name="shipping1" [(ngModel)]="info.shippings[0]"><span class="px-1">Local Pickup</span>
        </span>
        <span class="pr-2">
            <input type="checkbox" name="shipping2" [(ngModel)]="info.shippings[1]"><span class="px-1">Free Shipping</span>
        </span>
      </div>
    </div>
    <div class="form-group row text-white">
      <label class="col-sm-2 offset-sm-2 my-auto px-0">Distance (Miles)
      </label>
      <div class="col-sm-2 px-0">
        <input class="form-control" type="text" name="dist" placeholder="10" [(ngModel)]="info.mile">
      </div>
    </div>

    <div class="form-group row text-white">
      <span class="col-sm-2 offset-sm-2 px-0">
        From<span class="text-danger">*</span>
      </span>
      <span class="col-sm-5 px-0">
        <div>
          <input type="radio" name="from" value='cur' [(ngModel)]="info.from" (click)="info.zipcode = ''">
          <label class="pl-1">
            Current Location
          </label>
        </div>
        <div>
          <input type="radio" name="use_zip" value='use_zip' [(ngModel)]="info.from">
          <label class="pl-1">
            Other. Please specify zip code:
          </label>
        </div>
        <!--Auto complete-->
        <input class="form-control pb-0" type="text" name="zipcode" [(ngModel)]="info.zipcode" matInput [formControl]="myControl" [disabled]="zipcodeDisabled()" [matAutocomplete]="auto" [required]="info.from == 'use_zip'? true: null" (focusout)="zipcode_change = true">
        <p class="errorMessage" *ngIf="info.from == 'use_zip' && zipcode_change && info.zipcode.length == 0">Please enter a zip code.</p>
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let option of zipcode_options" [value]="option">{{option}}</mat-option>
        </mat-autocomplete>

      </span>
    </div>

    <div class="row form-group">
      <div class="col-sm-2"></div>
      <div class="form-inline col-sm-10">
        <button class="btn btn-light text-black" (click)="onSubmit()" [disabled]="disable_check()"><i class="material-icons">search</i>Search</button>
        <button class="btn btn-light text-black ml-4" (click)="clearAll()"><i class="material-icons">clear_all</i>Clear</button>
      </div>
    </div>
  </form>
</div> <!--form div-->

<!--Result or WishList selection-->
<div class="d-flex mt-4 container">
  <ul class="nav nav-pills mb-3 mx-auto">
    <li class="nav-item pill-1 mx-1">
      <a class="nav-link active" data-toggle="pill" href="#result" (click)="wishlist_show = false; tab1_and_tab2=true;">Results</a>
    </li>
    <li class="nav-item pill-2 mx-1" (click)="wishlist_show = true; tab1_and_tab2 = false;">
      <a class="nav-link" data-toggle="pill" href="#wishList">Wish List</a>
    </li>
  </ul>
</div>

<!--progress bar-->
<div class="progress offset-sm-1 col-sm-10 px-0" *ngIf="show_progress_bar">
  <div class="progress-bar progress-bar-striped progress-bar-animated w-50"></div>
</div>

<ng-container *ngIf="has_submit">

  <div class="container" *ngIf="!tab2_show && (tab1_show || wishlist_show)">
    <button style="float:right" class="mb-3 btn btn-light text-black" (click)="clickDetail()" [disabled]="cur_id == ''">Detail<i class="material-icons">chevron_right</i></button>
  </div>
  
  <my-slide-panel [activePane]="isLeftVisible ? 'left' : 'right'" *ngIf="tab1_and_tab2">
  <div class="container" leftPane *ngIf="tab1_show">
    
    <div class="tab-content">
      <div id="result" class="tab-pane active">
        <div *ngIf="!no_record_tab1">
          <table class="table-striped table-hover table-dark mb-3 w-100">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Image</th>
                  <th>Title</th>
                  <th>Price</th>
                  <th>Shipping</th>
                  <th>Zip</th>
                  <th>Seller</th>
                  <th>Wish List</th>
                </tr>
              </thead>
              <tbody>
                <tr [ngClass]="{'bg_highlight': row.id == cur_id}" *ngFor="let row of tab1_data | paginate: { itemsPerPage: 10, currentPage: p }; let i=index">
                  <td class="pt-2 mr-2" style="vertical-align: top">{{(p-1) * 10 + i + 1}}</td>
                  <td><img class='tab1_img py-2' [src]="row.image"></td>
                  <td><a class='tab1_title' style="color: rgb(59, 114, 208);" (click)='showItem(row.id)' [matTooltip]="row.whole_title">{{row.title}}</a></td>
                  <td [innerHTML]="row.price"></td>
                  <td [innerHTML]="row.shipping"></td>
                  <td [innerHTML]="row.zipcode"></td>
                  <td [innerHTML]="row.seller"></td>
                  <td>
                    <button *ngIf="!existInWishList(row.id)" class="bg-light btn"><i class="material-icons" (click)="changeWishList(row.id)">add_shopping_cart</i></button>
                    <button *ngIf="existInWishList(row.id)" class="bg-light btn"><i class="material-icons"  style="color:rgb(160, 117, 36)" (click)="changeWishList(row.id)">remove_shopping_cart</i></button>
                  </td>
                </tr>
              </tbody>
            </table>
            <pagination-controls class="text-center my-pagination" (pageChange)="p = $event"></pagination-controls>
        </div>
        <div class="container px-4 py-2" style="background: rgb(254,241,194); color:rgb(125, 95, 22)" *ngIf="no_record_tab1">No Records.</div>
      </div> <!--Result div-->
    </div>
  </div>
  

  <div rightPane *ngIf="tab2_show">
    <h3 class="text-center">{{item_product.title}}</h3>
    
    <div class="container" style="padding: 0">
      <button class="btn btn-light text-black" (click)="goBack()"><i class="material-icons">chevron_left</i>List</button>
      <span style="float:right">
        <a [href]="fb_src" target="_blank">
          <img width="35px" width="35px" src="http://csci571.com/hw/hw8/Images/facebook.png">
        </a>
        <span class="bg-light">
          <button class="bg-light btn" *ngIf="!existInWishList(cur_id)"><i class="material-icons" (click)="changeWishList(cur_id)">add_shopping_cart</i></button>
          <button class="bg-light btn" *ngIf="existInWishList(cur_id)"><i class="material-icons" style="color:rgb(160, 117, 36)" (click)="changeWishList(cur_id)">remove_shopping_cart</i></button>
        </span>
      </span>
    </div>
    
    <!--tab2 nav-->
    <div class="container">
      <div class="float-right">
        <ul class="row nav nav-pills" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" data-toggle="pill" href="#item_product" aria-selected="true">Product</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="pill" href="#item_photo" aria-selected="false">Photos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="pill" href="#item_shipping" aria-selected="false">Shipping</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="pill" href="#item_seller" aria-selected="false">Seller</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="pill" href="#item_similar" aria-selected="false" [innerHTML]="isMobile? 'Related': 'Similar Products'"></a>
          </li>
        </ul>
      </div>
    </div>

    <div class="tab-content">
      <!--item product-->
      <div id="item_product" class="tab-pane active container px-0">
        <table class="table-striped table-dark w-100">
          <tbody>
            <tr>
              <td class="col-sm-5 font-weight-bold">Product Images</td>
              <td class="col-sm-7"><a id="view_product_images" data-toggle="modal" data-target="#myModal">View Product Images Here</a></td>
            </tr>
            <tr *ngIf="item_product.subtitle != null">
              <td class="col-sm-5 font-weight-bold">Subtitle</td>
              <td class="col-sm-7">{{item_product.subtitle}}</td>
            </tr>
            <tr *ngIf="item_product.price != null">
              <td class="col-sm-5 font-weight-bold">Price</td>
              <td class="col-sm-7">{{item_product.price}}</td>
            </tr>
            <tr *ngIf="item_product.location != null">
              <td class="col-sm-5 font-weight-bold">Location</td>
              <td class="col-sm-7">{{item_product.location}}</td>
            </tr>
            <tr *ngIf="item_product.policy != null">
              <td class="col-sm-5 font-weight-bold">Return policy</td>
              <td class="col-sm-7">{{item_product.policy}}</td>
            </tr>
            <tr *ngFor="let item of item_product.itemSpecific">
              <td class="col-sm-5 font-weight-bold">{{item.name}}</td>
              <td class="col-sm-7">{{item.value}}</td>
            </tr>
          </tbody>
        </table>
      </div>

      <!--item photo-->
      <div id="item_photo" class="tab-pane container px-0 ">
        <div class="w-100 mt-5 pr-0" *ngIf="!no_record_photo" style="display:flex; flex-wrap: wrap;">
          <div class="col-sm-4 px-1">
            <a [href]="photos_url[0]" target="_blank"><img class="item_img w-100 my-1" [src]="photos_url[0]"></a>
            <a [href]="photos_url[1]" target="_blank"><img class="item_img w-100 my-1" [src]="photos_url[1]"></a>
          </div>
          <div class="col-sm-4 px-1">
            <a [href]="photos_url[2]" target="_blank"><img class="item_img w-100 my-1" [src]="photos_url[2]"></a>
            <a [href]="photos_url[3]" target="_blank"><img class="item_img w-100 my-1" [src]="photos_url[3]"></a>
            <a [href]="photos_url[4]" target="_blank"><img class="item_img w-100 my-1" [src]="photos_url[4]"></a>
          </div>
          <div class="col-sm-4 px-1">
            <a [href]="photos_url[5]" target="_blank"><img class="item_img w-100 my-1" [src]="photos_url[5]"></a>
            <a [href]="photos_url[6]" target="_blank"><img class="item_img w-100 my-1" [src]="photos_url[6]"></a>
            <a [href]="photos_url[7]" target="_blank"><img class="item_img w-100 my-1" [src]="photos_url[7]"></a>
          </div>
        </div>
        <div class="offset-sm-1 col-sm-10 px-4 py-2" style="background: rgb(254,241,194); color:rgb(125, 95, 22)" *ngIf="no_record_photo">No Records.</div>
      </div>

      <!--item shipping-->
      <div id="item_shipping" class="tab-pane">
        <table class="table-striped table-dark container mx-auto">
          <tbody>
            <tr *ngIf="shipping_info['cost'] != null">
              <td>Shipping Cost</td>
              <td>{{shipping_info['cost']}}</td>
            </tr>
            <tr *ngIf="shipping_info['shipping_loc'] != null">
              <td>Shipping Locations</td>
              <td>{{shipping_info['shipping_loc']}}</td>
            </tr>
            <tr *ngIf="shipping_info['handle'] != null">
                <td>Handling Time</td>
                <td>{{shipping_info['handle']}}</td>
            </tr>
            <tr *ngIf="shipping_info['expedited'] != null">
                <td>Expedited Shipping</td>
                <td>
                  <i style="color: green" class="material-icons" *ngIf="shipping_info['expedited'] == 'true'">check</i>
                  <i style="color: red" class="material-icons" *ngIf="shipping_info['expedited'] == 'false'">close</i>
                </td>
            </tr>
            <tr *ngIf="shipping_info['oneday'] != null">
                <td>One Day Shipping</td>
                <td>
                  <i style="color: green" class="material-icons" *ngIf="shipping_info['oneday'] == 'true'">check</i>
                  <i style="color: red" class="material-icons" *ngIf="shipping_info['oneday'] == 'false'">close</i>
                </td>
            </tr>
            <tr *ngIf="shipping_info['returnAcc'] != null">
                <td>Return Accepted</td>
                <td>
                  <i style="color: green" class="material-icons" *ngIf="shipping_info['returnAcc'] == 'true'">check</i>
                  <i style="color: red" class="material-icons" *ngIf="shipping_info['returnAcc'] == 'false'">close</i>
                </td>
            </tr>
          </tbody>
        </table>
      </div>
      <!--item seller-->
      <div class="tab-pane" id="item_seller">
        <table class="table-striped table-dark container">
          <tbody>
            <tr>
              <td colspan="2" class="text-center"><h3>{{seller_info['sellerUserName'] | uppercase}}</h3></td>
            </tr>
            <tr *ngIf="seller_info['score'] != null">
              <td>Feedback Score</td>
              <td>{{seller_info['score']}}</td>
            </tr>
            <tr *ngIf="seller_info['popularity'] != null">
                <td>Popularity</td>
                <td>
                  <div class="progress-wrapper">
                    <div><round-progress [current]="seller_info['popularity']" max=100 [stroke]="1" [radius]="25" [color]="'#00ff00'"></round-progress></div>
                    <div class="text">{{seller_info['popularity']}}</div>
                  </div>
                </td>
            </tr>
            <tr *ngIf="seller_info['star'] != null || seller_info['star'] != 'None'">
                <td>Feedback Rating Star</td>
                <td>
                  <i [ngStyle]="{'color': seller_info['star']}" class="material-icons" *ngIf="seller_star_color.indexOf(seller_info['star']) != -1">stars</i>
                  <i [ngStyle]="{'color': seller_info['star']}" class="material-icons" *ngIf="seller_star_color.indexOf(seller_info['star']) == -1">star_border</i>
                </td>
            </tr>
            <tr *ngIf="seller_info['topRated'] != null">
                <td>Top Rated</td>
                <td>
                  <i style="color: green" class="material-icons" *ngIf="seller_info['topRated'] == true">check</i>
                  <i style="color: red" class="material-icons" *ngIf="seller_info['topRated'] == false">close</i>
                </td>
            </tr>
            <tr *ngIf="seller_info['storeName'] != null">
                <td>Store Name</td>
                <td>{{seller_info['storeName']}}</td>
            </tr>
            <tr *ngIf="seller_info['storeUrl'] != null">
                <td>Buy Product At</td>
                <td>
                  <a style="color: rgb(67,115,117); text-decoration: none;" [href]="seller_info['storeUrl']" target="_blank">Store</a>
                </td>
            </tr>
          </tbody>
        </table>
      </div>
      <!--item similar-->
      <div class="tab-pane" id="item_similar">
        <div class="container" style="margin-top:2.5rem; padding:0"><hr></div>
        <div *ngIf="!no_record_similar">
          <div class="pb-3 container px-0" style="display:flex; flex-wrap: wrap;">
            <select class="col-sm-2 form-control" name="similar_sortBy" [(ngModel)]="sortBy" (change)="sortBy_change()">
              <option [value]="item" *ngFor="let item of sortBy_list">{{item}}</option>
            </select>
            <select class="col-sm-2 ml-sm-4 form-control" name="similar_sort_flag" [(ngModel)]="sort_flag" (change)="sort_flag_change()" [disabled]="sortBy == 'Default'">
              <option [value]="item" *ngFor="let item of sort_flag_list">{{item}}</option>
            </select>
          </div>
          
          <div class="container px-0">
            <div class="row bg-dark mx-0 mb-2" *ngFor="let item of similar_info.slice(0, 5)">
              <span class="col-sm-2 my-2">
                <a [href]="item.img_url" target="_blank"><img height="140px" width="140px" [src]="item.img_url"></a>
              </span>
              <span>
                <p class="mt-2 mb-1"><a style="color:rgb(60, 104, 96)" [href]="item.view_url" target="_blank">{{item.name}}</a></p>
                <p class="mb-1" style="color:rgb(140, 194, 162)">Price: {{item.price}}</p>
                <p class="mb-1" style="color:rgb(138, 121, 63)">Shipping Cost: {{item.shippingCost}}</p>
                <p class="text-white">Days Left: {{item.timeleft}}</p>
              </span>
            </div>
  
            <div class="row bg-dark mx-0 mb-2 collapse out" id="collapseme" *ngFor="let item of similar_info.slice(5)">
              <span class="col-sm-2 my-2">
                <img height="140px" width="140px" [src]="item.img_url">
              </span>
              <span>
                <p class="mt-2 mb-1"><a style="color:rgb(60, 104, 96)" [href]="item.view_url">{{item.name}}</a></p>
                <p class="mb-1" style="color:rgb(140, 194, 162)">Price: {{item.price}}</p>
                <p class="mb-1" style="color:rgb(138, 121, 63)">Shipping Cost: {{item.shippingCost}}</p>
                <p class="text-white">Days Left: {{item.timeleft}}</p>
              </span>
            </div>
          </div>
          

          <!--Show More/Less button-->
          <div class="text-center py-4">
            <button type="button" class="btn bg-dark text-white" data-toggle="collapse" data-target="#collapseme" *ngIf="similar_info.length > 5" (click)="show_more = show_more == 'Show More'? 'Show Less': 'Show More'">{{show_more}}</button>
          </div>
        </div>
        <div class="offset-sm-1 col-sm-10 px-4 py-2" style="background: rgb(254,241,194); color:rgb(125, 95, 22)" *ngIf="no_record_similar">No Records.</div>
      </div>
    </div>
  </div> <!--tab2 show-->

  </my-slide-panel>

</ng-container> <!--Has submitted-->


<!--wish list div-->
<div id="wishList" class="tab-pane container" *ngIf="wishlist_show">
  <table class="container table-striped table-hover table-dark mb-3" *ngIf="wish_list.length > 0">
    <thead>
      <tr>
        <th>#</th>
        <th>Image</th>
        <th>Title</th>
        <th>Price</th>
        <th>Shipping</th>
        <th>Seller</th>
        <th>Wish List</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of wish_list; let i=index" [ngClass]="{'bg_highlight': item.id == cur_id}">
        <td>{{i + 1}}</td>
        <td><img [src]="item.imgUrl"></td>
        <td><a class='tab1_title' style="color: rgb(59, 114, 208);" (click)='showItem(item.id)' [matTooltip]="item['whole_title']">{{item.title}}</a></td>
        <td>{{item.price}}</td>
        <td>{{item.shipping}}</td>
        <td>{{item.seller}}</td>
        <td><button class="bg-light btn"><i class="material-icons" style="color:rgb(160, 117, 36)" (click)="changeWishList(item.id)">remove_shopping_cart</i></button></td>
      </tr>
    </tbody>
  </table>
  <div class="container px-4 py-2" style="background: rgb(254,241,194); color:rgb(125, 95, 22)" *ngIf="wish_list.length == 0">No Records.</div>
</div>

  

<!--Model images-->
<div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog">
  
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Product Images</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <div>
          <br>
          <div id="myCarousel" class="carousel slide" data-interval="false">
            <div class="carousel-inner">
              <div class="carousel-item" [ngClass]="{'active': i==0}" *ngFor="let item of pictureUrls; let i=index">
                <a [href]="item" target="_blank">
                  <img [src]="item" class="img-fluid" style="width:100%; border:7px solid black">
                </a>

              </div>
            </div>
        
            <!-- Left and right controls -->
            <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
                <span class="bg-dark carousel-control-prev-icon" aria-hidden="true"></span>
            </a>
            <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
                <span class="bg-dark carousel-control-next-icon" aria-hidden="true"></span>
            </a>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
    
  </div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.js"></script>
<script>
  function func(event) {
    event.preventDefault();
    $(this).ekkoLightbox();
  }
  $(document).on('click', '[data-toggle="lightbox"]', function(event) {
              event.preventDefault();
              $(this).ekkoLightbox();
          });
  
</script>



</body>