

.item_img {
    /* width: 100px;
    height: 100px; */
    border: 3px solid black;
}
.tab1_img {
    width: 150px;
    height: 150px;
}
#form_tab {
    margin: 0 auto;
}

.tab1_title {
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
}

.tab1_title:hover {
    /* hover还没做 */
}

.material-icons {
    vertical-align:middle;
}

.nav-pills .nav-link:not(.active) {
    background-color: white;
    color: black;
}
.nav-pills .nav-link:not(.active) {
    background-color: white;
    color: black;
}

.nav-pills .nav-link {
    background-color: black;
    color: white;
}
.nav-pills .nav-link {
    background-color: black;
    color: white;
}

.my-pagination /deep/ .ngx-pagination .current {
    background: black;
    
}

.offset-right-05 {
    margin-right: 4.2%
}

.item_img {
    border: 7px solid black;
}

#item_product td {
    padding: 5px;
}

#item_shipping td {
    padding: 5px;
}
#item_seller td {
    padding: 5px;
}

.errorMessage {
    color: rgb(152, 30, 47);
    margin-bottom: 3px;
}

.progress-wrapper{
    position: relative;
}

.progress-wrapper .text{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    text-align: center;
    width: 50px;
    z-index: 1;
    color: white;

}

table.table-striped tr.bg_highlight td {
    background-color:rgb(177,179,181);
}

#view_product_images {
    color: rgb(75,110,113);
    cursor: pointer;
}
